<p class="supertiny">&nbsp;</p>

<div id="footer">

  <div id="copy">
    Webmaster: <%= mail_to("ggongora@cmu.edu", "Prof. GS", :encode => "javascript") %> 
    &nbsp;&nbsp;&copy 2022
  </div>

</div>