<p>This simple site to randomly select a phrase from a collection of Spanish phrases <p>
<p class="supertiny">&nbsp;</p>
<h1><%= @phrase.spanish %></h1><br>
<h2><%= @phrase.translation %></h2>

<p>&nbsp;</p>
<p>&nbsp;</p>
<%= link_to 'Add a new Spanish phrase to our set', new_phrase_path %>
<p class="supertiny">&nbsp;</p>
<%= link_to 'See all our phrases here', phrases_path %>

